.img-cript{
    width: 10%;
}

.card{
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 15px rgba(85, 106, 128, 0.1);
}

.card-hover{
    transition: all 0.2s ease-in-out;
}

.card-hover:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card-hover:hover .card{
    box-shadow: 0 0 25px rgba(85, 106, 128, 0.14);
}

@media (max-width: 1200px) {
    .img-cript{
        width: 10%;
    }
}

@media (max-width: 768px) {
    .img-cript{
        width: 10%;
    }
}

@media (max-width: 576px) {
    .img-cript{
        width: 15%;
    }
}

@media (max-width: 375px) {
    .img-cript{
        width: 20%;
    }
    .ct-coin{
        border: none !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}




