{% extends "global/base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'home/css/cripto_styles.css' %}" />
{% endblock head %} {% block content %}

<section class="container-fluid d-flex flex-column g-4 col-12">
    <div class="row g-4 mb-3 mt-5 p-4">
        <h1 class="text-center fw-bold">Criptomoedas</h1>
    </div>
    <h2 class="text-start ps-4 text-capitalize mb-3">Moedas populares</h2>
    <div class="row col-12 ct-coin g-4 p-4 m-auto">
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-start ps-4 text-capitalize mb-3">moedas em tendencia</h2>
    <div class="row col-12 ct-coin g-4 p-4 m-auto">
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xxl-2 mt-0 p-0 pe-md-3 pe-2 py-3 card-hover">
            <div class="card card-cripto mt-0 p-3 g-2">
                <div class="card-body">
                    <div class="row">
                        <div class="img-cript p-0 m-0">
                            <img
                                src="{% static 'home/img/bitcoin.png' %}"
                                alt="{% static 'home/img/bitcoin.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <h3 class="w-auto text-capitalize m-0 text-center pe-3 fs-5">Bitcoin</h3>
                    </div>
                    <div class="row mt-3">
                        <p class="fs-4">R$ 526878</p>
                        <p class="text-success m-0">↑ 0.42% <small class="text-white">Since last day</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block scripts %}
<script src="{% static 'home/js/cripto_scripts.js' %}" defer></script>
{% endblock scripts %}
