{% extends "global/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/css/mycoins_styles.css' %}">
<meta http-equiv="refresh" content="360" />
{% endblock head %}

{% block content %}

<section class="container d-flex flex-column align-items-center  justify-content-center g-4">

    <div class="card">

    </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'home/js/mycoins_scripts.js' %}" defer></script>
{% endblock scripts %}