{% extends "global/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/css/resume_styles.css' %}" />
{% endblock head %}
{% block content %}

<section class="bg-dark container-fluid m-auto">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark px-3 mt-4 w-100">
            <a class="navbar-brand fw-bold finelog-title" href="#">DASHFINELOG</a>
          
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transactions</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-auto">
                <a class="btn btn-outline-light btn-sm rounded-circle btn-logo">👤</a>
            </div>
        </nav>

        <div class="row m-0 mt-4">
            <div class="col-12 col-md-4 p-3">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Total Balance</h5>
                        <h2 class="card-text">$12,345</h2>
                        <span class="text-success">↑ 2.4% </span><small> Since last month</small>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Income</h5>
                        <h2 class="card-text">$8,560</h2>
                        <span class="text-success">↑ 2.4% </span><small> Since last month</small>
                    </div>
                </div>
                <div class="card">
                    <canvas id="dolarview" class="card-img"></canvas>
                </div>
            </div>

            <div class="col-12 col-md-8 p-3">
                <div class="card mb-4 grafic-selic d-flex align-items-center justify-content-center">
                    <div class="card-body w-100">
                        <h5 class="card-title text-center">Taxa Selic</h5>
                            <canvas class="card-img" id="taxaselicview"></canvas>
                    </div>
                </div>

                <div class="row g-4">
                    <div class="card col-12 col-md-5 p-2 grafic_one mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Bitcoins</h5>
                            <h2 class="card-text">$8,560</h2>
                            <span class="text-success">↑ 2.4% </span><small> Since last month</small>
                        </div>
                        <div class="card-body">
                            <canvas class="card-img" id="bitcoinview"></canvas>
                        </div>
                    </div>
                    <div class="card col-12 col-md-5 p-3 grafic_two mx-auto">
                        <h5 class="card-title">Transactions</h5>
                        <div class="h-50 w-100">
                            <canvas id="budgetChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'home/js/resume_scripts.js' %}" defer></script>
{% endblock scripts %}
